*{
    padding: 0px;
    text-decoration: none;
    color: #dadada;
    font-size: 12px;
    list-style: none;
}

body{
    margin: 0px;
    background-color: #37474f;
}

h1{
    font-size: 32px;
}

h2{
    font-size: 25px;
}

h3{
    font-size: 18px;
}

h4{
    font-size: 16px;
    font-weight: normal;
}

h1, h2, h3, h4{
    color: #26c6da;
    margin: 0px
}

.container{
    width: 100%;
    background-color: #37474f;
    display: flex;
    flex-direction: column;
    align-items: center;
}


header{
    background-color:#6d6d6d;
    height: fit-content;
    width: 100%;
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
}

header *{
    color: #26c6da;
}

ion-icon{
    font-size: 36px;
}

ion-icon{
    color: rgb(255, 255, 255);
}

main{
    display: flex;
    flex-wrap: wrap;
}

main p{
    margin-left: 15px;
}

.skill_cont, .profile_cont, .experience_cont, .formation_cont{
    padding: 0px 15px 10px;
}

.skill_cont{
    order: 2;
}

.skill_cont li{
    list-style:disc
}

.skill_cont h2{
    width: fit-content;
}

li{
    font-size: 12px;
    margin-left: 20px;
}

ul > li > p {
    font-size: 10px;
    margin-left: 10px;
}

@media (min-width: 768px) {
    header{
        flex-direction: row;
        justify-content: space-around;
    }

    .profile_cont, .experience_cont, .formation_cont{
         width: 60%;
    }   

    .skill_cont{
        margin: 30px;
        padding: 15px;
        order: 1;
        width: 30%;
        height: fit-content;
        background-color: #6d6d6d;
    }

    .right_side{
        order: 2;
        width: 60%;
        height: fit-content;
    }
}

@media (min-width: 1224px) {

    header ul, header h1{
        line-height: 2.5;
    }

    .skill_cont{
        margin: 30px;
        height: 100%;
        padding: 15px;
    }

    #qualities{
        display: none
    } 

    #qualities_show{
        display: block
    }

    .skill_cont li{
        line-height: 2.5;
    }

    .right_side *{
        line-height: 2.5;
    }


    a{
        font-size: 18px;
    }

    li{
        font-size: 18px;
    }

    main p{
        font-size: 18px;
    }

    ul > li > p {
        font-size: 14px;
    }

    h4{
        font-size: 24px;
        margin: 0;
        width: fit-content;
    }

    h4:hover{
        color: white
    }


}
