/* creation variable theme + normalisation des balises */

* {
  --title-color: #A2E7F1;
  --background-color: #37474f;
  --container-color: #5E5E5E;
  --text-color: #e0e0e0;
  --hover-color: #FFF;
  --main-text-font: "Poppins", sans-serif;
  --header-text-color: #FFF;
  --text-shadow: 2px 2px 4px #000;
  --title-shadow: 2px 2px 4px #000;
  --box-shadow: 2px 2px 8px #333 ;
  --scroll-bar-color: #00424D;
  --scroll-bar-progress-color: #fff;
  --header-background: url("https://images.pexels.com/photos/13280349/pexels-photo-13280349.jpeg");
  padding: 0px;
  text-decoration: none;
  color: var(--text-color);
  font-size: 16px;
  line-height: 24px;
  list-style: none;
  font-family: var(--main-text-font);
  font-weight: 500;
}

.light-mode * {
  --title-color: #00424D;
  --background-color: #e0e0e0;
  --container-color: #CFCFCF;
  --text-color: #343434;
  --hover-color: #696969;
  --header-text-color: #fff;
  --text-shadow: 4px 4px 4px #A2E7F1;
  --title-shadow: 2px 2px 4px #d4d4d4;
  --title-shadow-desktop: 2px 2px 4px #000;
  --scroll-bar-color: #fff;
  --scroll-bar-progress-color: #00424D;
  --header-background: url("https://upload.wikimedia.org/wikipedia/commons/0/0e/Terragen_render.jpg");
  animation: fadein 5s ease;
}

.anim-night{
  animation: fadein 5s ease;
}

/* Animation setup */

@keyframes slideinright {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0%;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes grow {
  0% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }
}

/* MARK: Main */

body {
  margin: 0px;
  background-color: var(--background-color);
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 25px;
  text-shadow: var(--text-shadow);
  color: var(--title-color);
  margin: 0px;
}

header {
  color: var(--header-text-color);
  height: fit-content;
  text-align: center;
  padding: 15px;
  text-shadow: var(--title-shadow);
}


header p {
  font-size: 18px;
}

.container {
  width: 100%;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scroll-button{
  display: none;
}

header,
footer {
  background-color: var(--container-color);
  width: 100%;
  padding: 30px 0px;
  display: flex;
}

.visual-mode {
  display: none;
}

ion-icon {
  font-size: 36px;
}

main {
  display: flex;
  flex-wrap: wrap;
}

main p {
  margin-left: 15px;
}

hr {
  display: none;
}

.skill-cont,
.profile-cont,
.experience-cont,
.formation-cont {
  padding: 0px 15px 10px;
}

.skill-cont {
  order: 2;
}

.skill-cont h2 {
  width: fit-content;
}

.skill-cont li {
  list-style: disc;
}

.arrow-down-qualities{
  height: 20px;
  fill: var(--title-color);
}

.icon-tech{
  height: 28px;
}

.right-side section:first-of-type h2{
  margin-top: 30px;
}

li {
  font-size: 20px;
  margin-left: 20px;
  line-height: 30px;
}

ul > li > p {
  font-size: 16px;
  margin-left: 10px;
}

footer {
  flex-direction: column;
}

footer li {
  color: var(--title-color);
}

.footer-link{
  height: 32px;
  fill: var(--title-color);
}

.contact {
  width: 100%;
  word-wrap: normal;
}

.link-rs {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

/* MARK: Tablet */

@media (min-width: 768px) {
  header {
    flex-direction: row;
    justify-content: space-around;
  }

  .profile-cont,
  .experience-cont,
  .formation-cont {
    width: 60%;
  }

  .skill-cont {
    margin: 15px;
    height: 100%;
    padding: 15px;
    order: 1;
    width: 30%;
    background-color: var(--container-color);
  }

  .right-side {
    order: 2;
    width: 60%;
    margin-top: 15px;
  }

  footer {
    align-items: center;
  }

  .contact ul li {
    display: inline;
  }

  .contact {
    text-align: center;
    width: auto;
  }

  .link-rs {
    width: 25%;
  }

}

/*
    MARK: Desktop
*/

@media (min-width: 1224px) {


  body::-webkit-scrollbar{
    width: 5px;
    height: 0px;
    background-color: var(--scroll-bar-color);
  }
  
  body::-webkit-scrollbar-thumb{
    border-radius: 50px ;
    background-color: var(--scroll-bar-progress-color);
  }

  header {
    flex-direction: row;
    align-items: center;
    height: 100vh;
    background-image: var(--header-background);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0;
  }

  header h1, header p {
    color : var(--header-text-color);
    text-shadow : var(--title-shadow-desktop);
  }

  .scroll-button {
    width: 40px;
    display: inline;
    position: absolute;
    bottom: 50px;
    fill: var(--header-text-color);
    cursor: pointer;
  }

  h1 {
    font-size: 80px;
  }

  header p{
    font-size: 30px;
  }

  
  .visual-mode {
    display: block;
    position: fixed;
    right: 10px;
    top: 10px;
    width: 32px;
    fill: var(--title-color)
  }

  .visual-mode:hover{
    fill: var(--hover-color);
    transform: scale(1.25);
  }

  main{
    min-height: 100vh;
  }

  .skill-cont {
    margin: 30px;
    height: fit-content;
    padding: 15px;
    box-shadow: var(--box-shadow);
  }

  .qualities,
  .technos {
    display: none;
  }

  .qualities-show,
  .technos-show {
    display: block;
    animation: grow ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  .experience-cont.in-view,
  .profile-cont.in-view {
    animation: slideinright 2s ease;
  }

  .formation-cont.in-view {
    animation: fadein 2s ease;
  }

  .skill-cont.in-view {
    animation: fadein 2s ease;
  }

  .skill-cont li {
    line-height: 30px;
  }

  .right-side * {
    line-height: 2;
  }

  li {
    font-size: 20px;
  }

  main p {
    font-size: 18px;
    margin-top: 10px;
  }

  ul > li > p {
    font-size: 18px;
  }

  h2 {
    font-size: 24px;
    margin: 0;
    width: fit-content;
  }
  
  h2:not(:first-of-type){
    cursor: pointer
  }

  h2:not(:first-of-type):hover, h2:hover svg {
    color: var(--hover-color);
    fill: var(--hover-color);
  }

  hr {
    display: block;
  }

}
